
:root {
    /* Uncomment alpha variable to make divs visible for testing */
    /* --test-alpha: 0.5; */     
}

/* Resets CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    /* Important for fullscreen backgroundimage */
    height: 100%;   

    background-color: black; 
    
    /* tusch font */
    font-family: 'Gochi Hand', cursive;
    font-size: 50px;
    color: rgba(22, 22, 22, 0.9);
}

html {
    background-color: transparent;
}

#bg {
    /* Background image 'clapboard' */
    background-image: url('/media/clapboard-background-image.jpg');

    /* Full height */
    height: 100%;

    /* Center background image */
    background-position: center;
    background-repeat: no-repeat;  
    
    /* Centering clapboard-container */
    display: flex;
    align-items: center;
    justify-content: center;
}

#main {   
    position: relative;
    right: 30px;
    top: 146px
}

#movie-number {
    background-color: rgba(173, 216, 230, var(--test-alpha));
    grid-area: movie-number;
    font-size: 80px;
    width: 90px;    
    position: relative;
    top: 10px;
    left: 80px;
}

#ratings {
    background-color: rgba(240, 128, 128, var(--test-alpha));
    grid-area: ratings;
    font-size: 100px;
    width: 200px;
    text-align: center;
    position: relative;
    left: 175px;
    bottom: 5px;
}

#release-date {
    background-color: rgba(224, 255, 255, var(--test-alpha));
    grid-area: release-date;
    font-size: 38px;
    width: 200px;
    text-align: center;
    line-height: 30px;
    position: relative;
    top: 20px;
    right: 10px;
}

#fps {
    background-color: rgba(250, 250, 210, var(--test-alpha));
    grid-area: fps;    
    width: 70px;
    position: relative;
    bottom: 12px;
    right: 5px;
}

/* Custom font for digits (duration). Created by: http://www.styleseven.com/*/
@font-face {
    font-family: 'digital-7_monomono';
    src: url('/font/digital-7.mono-webfont.woff2') format('woff2'),
         url('/font/digital-7.mono-webfont.woff') format('woff');
    font-weight: 900;    
}

#duration {
    background-color: rgba(236, 94, 111, var(--test-alpha));
    grid-area: duration;      
    font-family: 'digital-7_monomono';    
    font-size: 100px;        
    color: rgba(247, 84, 109, .8);
    letter-spacing: 4px;
    width: 450px;
    position: relative;
    bottom: 30px;
    right: 14px;    
}

/* Duration position needs to be 8px higher on Mozilla Firefox */
@-moz-document url-prefix() {
    #duration {
        bottom: 38px;
    }
  }

#duration-hh, #duration-mm, #duration-ss, #duration-ms  {
    float: left;
    letter-spacing: 5px;
}
#duration-hh {
    position: relative;
    left: 14px;
}

#duration-mm {
    position: relative;
    left: 53px;
}

#duration-ss {
    position: relative;
    left: 94px;
}

#duration-ms {
    position: relative;
    left: 135px;
}

#camera {
    background-color: rgba(135, 206, 250, var(--test-alpha));
    grid-area: camera;    
    position: relative;
    text-align: center;
    left: 32px;
    bottom: 12px;
}

#title {
    background-color: rgba(255, 182, 193, var(--test-alpha));
    grid-area: movie-title;
    position: relative;
    bottom: 30px;
}

#director {
    background-color: rgba(255, 160, 122, var(--test-alpha));
    grid-area: director;
    position: relative;
    bottom: 22px;
}

#photographer {
    background-color: rgba(32, 178, 171, var(--test-alpha));
    grid-area: photographer;
    position: relative;
    bottom: 20px;
}

#clapboard-container {    
    background: rgba(9, 81, 163, var(--test-alpha));    
    display: grid;   
    height: 450px;
    width: 730px;
    gap: 0px;    
    grid-template-rows: auto;
    grid-template-areas:    
        "movie-number ratings ratings ratings . release-date"
        "fps duration duration duration duration camera"
        "movie-title movie-title movie-title movie-title movie-title movie-title"
        "director director director director director director"
        "photographer photographer photographer photographer photographer photographer";  
}

/* Arrow navigation */
#arrow-navigation-right {
    background-color: rgba(240, 11, 11, var(--test-alpha));    
    position: relative;

    /* Positions arrow horizontal with the clapboard */
    top: 100px;

    /* Animation for right arrow. Makes alpha pulsation three times on entering the page */
    animation-name: pulsation;
    animation-duration: 2s;
    animation-iteration-count: 3;
}

#arrow-navigation-left {
    background-color: rgba(240, 11, 11, var(--test-alpha));    
    position: relative;

    /* Offsets left arrow to the left from clapboard */
    right: 95px;

    /* Positions arrow horizontal with the clapboard */
    top: 100px;

    /* Fades in left arrow on entering the page */
    animation-name: fade-in;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.arrow {
    border: solid rgba(000, 000, 000, .5);
    border-width: 0 20px 20px 0;
    display: inline-block;
    padding: 20px;
    cursor: pointer;

    /* Arrows fade on mouse out */
    transition: border-color 250ms linear; /* vendorless fallback */
    -o-transition: border-color 250ms linear; /* opera */
    -ms-transition: border-color 250ms linear; /* IE 10 */
    -moz-transition: border-color 250ms linear; /* Firefox */
    -webkit-transition: border-color 250ms linear; /*safari and chrome */   
}

.arrow:hover {
    border-color: rgba(000, 000, 000, 1);    

    /* Arrows fade in on mouse over */
    transition: border-color 250ms linear; /* vendorless fallback */
    -o-transition: border-color 250ms linear; /* opera */
    -ms-transition: border-color 250ms linear; /* IE 10 */
    -moz-transition: border-color 250ms linear; /* Firefox */
    -webkit-transition: border-color 250ms linear; /*safari and chrome */    
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);        
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

/* Arrow pulsation animation */
@keyframes pulsation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Arrow face-in animation */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}